

.container{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px auto;
    background-image: ("../../images/home/module.css");
    height: 10vh;
    width: 100%;
    object-fit: cover;
    max-width: 1200px;
    gap: 110px;
    border: 1px
}