.body {
    background-image: url("../../images/home.jpg");
    height: 94vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}
.body h1 {
    color: rgb(138, 161, 166);
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 15px rgb(219, 206, 200);

}